
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}


.backgroundContainerRemote {
    background: linear-gradient( darken($PrimaryColor, 10%) 50%, $TertiaryColor--Black,);
    width: 500px;
    height: 900px;
    position: relative;

}

.backgroundContainerGuide {
    background: rgba(214,195,184, 1.0);
    width: 500px;
    height: 900px;
    position: relative;

}