.GuideChannel {
  background: $PrimaryColor;
  border-top: 1px solid $TertiaryColor--White;
  color: $TertiaryColor--White;
  text-align: left;
}

.GuideChannel-Active {
  background: $PrimaryColor--Light;
  border-top: 1px solid $TertiaryColor--White;
  color: $TertiaryColor--Black;
  text-align: left;
}
.GuidePlayButtonOn{
  margin: 0;
  padding: .25rem;
  padding-left: .35rem;
}
.GuideAdvertisement {
  background: $PrimaryColor--Light;
  border-top: 1px solid $TertiaryColor--White;
  color: $TertiaryColor--Black;
  text-align: left;
}
.GuideAdTitle {
  display: inline-block;
  width: 25%;
  padding: 0 2.5%;
}
.GuideAdImg {
  display: inline-block;
  width: 25%;
  vertical-align: bottom;
 }
 .GuideAdImg img {
  display: inline-block;
  width: 50%;
  height: 25%;
 }
.GuideAdContent {
  display: inline-block;
  width: 40%;
  padding: 0 2.5%;
}
.FavIconContainer {
  display: inline-block;
  padding: 2.5%;
}
.FavIcon {
  padding-bottom: .33rem ;
}
.ChannelIconContainer {
  display: inline-block;
  width: 15%;
}
.ChannelIcon {
  text-align: center;
}
.ShowContent {
  display: inline-block;
  width: 59%;
  overflow: hidden;
  padding: .45rem;
}
.PlayState {
  display: inline-block;
  background-color: $PrimaryColor--Dark;
  width: 15%;
  height: 100%;
}

.PlayStateIcon {
  padding: 5%;
  margin: 0.5rem;
  text-align: center;
  color: $SecondaryColor--Light;
}

.demoImage {
  box-shadow: 8px 8px 24px;
  width: 100%;
  height: 20%
 }

 .GuideLeftArrow {
  display: inline-block;
  width: 10%;
  padding: 1.3%;
  background-color: $TertiaryColor--White;
  text-align: center;
  vertical-align: bottom;
 }
.GuideRightArrow {
  display: inline-block;
  width: 10%;
  padding: 1.3%;
  background-color: $TertiaryColor--White;
  text-align: center;
  vertical-align: bottom;
}
.GuideTime {
  display: inline-block;
  width: 74.5%;
  text-align: center;
  color: $SecondaryColor--Light;
  background-color: $TertiaryColor--Black;
}
.GuideTimeText {
  font-size: 10px;
}
.GuideArrowAlign {
  text-align: center;
}
