.GuideChannel {
  background: $PrimaryColor;
  border-top: 1px solid $TertiaryColor--White;
  color: $TertiaryColor--White;
  text-align: left;
}

.GuideChannel-Active {
  background: $PrimaryColor--Light;
  border-top: 1px solid $TertiaryColor--White;
  color: $TertiaryColor--Black;
  font-family: Visby-Bold;
  text-align: left;
}
.GuidePlayButtonOn {
  padding: 0.25rem;
  padding-left: 0.35rem;
}
.GuideAdvertisement {
  background: $PrimaryColor--Light;
  border-top: 1px solid $TertiaryColor--White;
  color: $TertiaryColor--Black;
  font-family: Visby-Bold;
  text-align: left;
}
.GuideAdTitle {
  display: inline-block;
  width: 25%;
  padding: 0 2.5%;
}
.GuideAdImg {
  display: inline-block;
  width: 25%;
  vertical-align: bottom;
}
.GuideAdImg img {
  display: inline-block;
  width: 50%;
  height: 25%;
}
.GuideAdContent {
  display: inline-block;
  width: 40%;
  padding: 0 2.5%;
}
.FavIconContainer {
  display: inline-block;
  vertical-align: baseline;
  padding-left: 5%;
  padding-right: 5%;
}
.ChannelIconContainer {
  display: inline-block;
  width: 15%;
}
.ChannelIcon {
  text-align: center;
}
.ShowContent {
  display: inline-block;
  width: 50%;
  overflow: hidden;
  padding: 0.45rem;
  vertical-align: baseline;
}
.PlayState {
  display: inline-block;
  background-color: $PrimaryColor--Dark;
  width: 15%;
  height: 100%;
  vertical-align: bottom;
}

.PlayStateIcon {
  padding: 5%;
  text-align: center;
  color: $SecondaryColor--Dark;
}

.playButton {
  margin: 1rem;
}

.demoImage {
  box-shadow: 8px 8px 24px;
  width: 100%;
  height: 20%;
}

.GuideLeftArrow {
  display: inline-block;
  width: 10%;
  padding: 1.3%;
  background-color: $TertiaryColor--White;
  text-align: center;
  vertical-align: bottom;
}
.GuideRightArrow {
  display: inline-block;
  width: 10%;
  padding: 1.3%;
  background-color: $TertiaryColor--White;
  text-align: center;
  vertical-align: bottom;
}
.GuideTime {
  display: inline-block;
  width: 74.5%;
  text-align: center;
  color: $SecondaryColor--Light;
  background-color: $TertiaryColor--Black;
  letter-spacing: 0.25em;
}
.GuideTimeText {
  font-size: 10px;
}
.GuideArrowAlign {
  text-align: center;
}

.playAnimate {
  padding: 7.5px;
  position: absolute;
}

.GuideSortButton {
  width: 200px;
  margin: 2.5% 25% 1%;
  padding: 1.5px;
  height: 20px;
  background: linear-gradient(#0a3e90, #00369b);
  color: #fff;
  border-radius: 2.5px;
  border: 1px solid scale-color($TertiaryColor--White, $alpha: -59%);
}

.GuideSortTitle {
  display: inline;
  font-size: 15;
  margin: 0;
  padding: 1px 15px 0 15px;
}

@media screen and (max-width: 375) {
  .ShowContent {
    padding: 0;
    width: 48%;
  }

  .PlayStateIcon {
    padding: 2.5%;
    margin: 0;
  }

  .GuidePlayButtonOn {
    margin: 1%;
    padding: 0.5rem;
    padding-left: 0.35rem;
  }

  .test {
    margin: 0;

  }
}
