.GuideChannel {
  background: $PrimaryColor;
  border-top: 1px solid $TertiaryColor--White;
  color: $TertiaryColor--White;
  text-align: left;
}
.FavIconContainer {
    display: inline-block;
    padding: 2.5%;
}
.ChannelIconContainer {
  display: inline-block;
  width: 15%;
}
.ChannelIcon {
  text-align: center;
}
.ShowContent {
  display: inline-block;
  width: 54%;
  overflow: hidden;
}
.PlayState {
  display: inline-block;
  background-color: $PrimaryColor--Dark;
  width: 15%;
  height: 100%;
}

.PlayStateIcon {
  padding: 5%;
}

.demoImage {
  box-shadow: 8px 8px 24px;
  width: 100%;
}
