
.RemoteLayout {
    padding: 10% 10%;
    height: 90%;
    position: relative;
}
.NavGuideLayout {
    margin: 5% 10%;
    position: absolute;
    z-index: 97;
}

.NavGuideContainer {
    padding: 5% 5%;
    position: absolute;
    z-index: 97;
}

.ApplicationMenuButtonContainer {
    top: 75%;
    position: absolute;
    z-index: 95;
}
.ChannelButtonContainer {
    position: absolute;
    top: 73.5%;
    left: 70%;
    z-index: 96;
}

.GuideTVDemoContainer {
    width: 100%;
    min-height: 25%;
    padding-top: 33%;

}

.GuideGridContainer {
    width: 100%;
    height: 46.25%;
    position: relative;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.GuideGridContainer::-webkit-scrollbar {
    display: none;
}

.VolumeButtonContainer {
    position: absolute;
    top: 73.5%;
    left: 10%;
    z-index: 96;
}

.NavButtonContainer {
    display: inline-block;
    margin: 5% 0;
    min-width: 300px;
    position: relative;
    z-index: 97;
   
}
.NavButtonContainerRemote {
    display: inline-block;
    margin: 5% 5%;
    position: relative;
    z-index: 97;
    vertical-align: top;
}
.SettingMenuContainer {
    position: absolute;
    z-index: 98;
    width: 500px;
    height: 900px;
    backdrop-filter: blur(10px) brightness(123%);
 }
.LogoContainer {
    display: relative;
    display: inline-block;
    z-index: 96;
}
.Logo {
    margin: 2.5% 12.5%;
}

.RemoteDeviceContainer {
    margin: 5%;
}

.timeChangerContainer{
    margin-top: 2%;
  
  }