
/*WCI BRAND COLORS */

$PrimaryColor: rgba(8, 82, 158, 1.0); //WCI-USAFA Blue
$PrimaryColor--Light: rgba(83,137,193, 1.0); //WCI-LightBlue
$PrimaryColor--Dark: rgba(64,86,130,1.0); //Bdazzled Blue
$SecondaryColor: rgba(243, 114, 38, 1.0); //WCI-Pumpkin
$SecondaryColor--Light: rgba(248, 172, 127, 1.0); //WCI-Light Salmon
$SecondaryColor--Dark: rgba(255, 79, 0, 1.0); //WCI-Orange Aerospace
$TertiaryColor--Black: rgba(2,33,64, 1.0); //WCI-Xilketic
$TertiaryColor--White: rgba(255,255,255, 1.0); //White

/*Hotel Brand Color*/

$HotelPrimaryColor: rgba(113,63,13,1.0);

//Fonts 

@font-face{
    font-family: Visby-Oblique;
    src: url(fonts/VisbyCF-DemiBoldOblique.otf) format( "opentype");
}

@font-face{
    font-family: Visby-Bold;
    src: url(fonts/VisbyCF-ExtraBold.otf) format( "opentype");
} 
@font-face{
    font-family: Visby-Bold;
    src: url(fonts/VisbyCF-Heavy.otf) format("opentype");
} 